// script
//- script(async src="js/vendor/jquery/dist/jquery.min.js")
//- script(async src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
//- script(async src="js/vendor/waitForImages/dist/jquery.waitforimages.min.js")
//- script(async src="js/lib/tempIframe/tempIframe.js")
//- script(async src="js/lib/popupNotification/notification.js")
//- script(async src="js/plugins.js")
//- script(async src="js/main.js")