//- index.jade
- var title = "Project Boilerplate"
- var page = "Homepage"
include ./includes/variable.pug

doctype html
html(lang="en")

    // html head
    head
        include ./includes/head.pug

    // body
    body

        // page header
        include ./includes/header.pug

        // page main
        main(role="main")
            section.paper
                .container
                    .paper-text
                        h1 title
                        h3 subtitle
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam rem aperiam ab quisquam fugiat, dolor est sint quae necessitatibus temporibus soluta mollitia reiciendis atque, vero, nesciunt voluptatem animi deleniti beatae?
                        .script-text
                            xmp
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam rem aperiam ab quisquam fugiat, dolor est sint quae necessitatibus temporibus soluta mollitia reiciendis atque, vero, nesciunt voluptatem animi deleniti beatae?</p>
                                //- img(src="../img/sample-script.png", alt="sample")
    // page footer
    include ./includes/footer.pug

    // page script
    include ./includes/script.pug